<!-- <div class="mcb-background-overlay"> -->
<!-- <div > -->
<div class="componente-con-fondo"></div>
<h1 class="fs-1" class="fst-italic">CREAR</h1>
<br><br>

<!-- <div class="mb-3"> -->
<!-- <div class="componente-con-fondo"></div> -->
<!-- <div class="row justify-content-center"> -->
<div class="container-fluid"></div>
<div class="row">
  <div class="col">
    <form (ngSubmit)="evaluarFormulario()" #miForm="ngForm">

      <label for="exampleFormControlInput1" class="form-label" class="fw-bold">titulo</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ingrese el titulo"
        [(ngModel)]="titulo" name="titulo" required>

      <label for="exampleFormControlTextarea1" class="form-label" class="fw-bold">contenido</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>

      <br>

      <label for="formFile" class="form-label" class="fw-bold">agregar una imagen</label>
      <input class="form-control" type="file" id="formFile">

      <br>
      <p class="fw-bold">Tipo</p>

      <div class="form-check" required>

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          aviso
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          mensaje
        </label>

      </div>
      <button (click)="mostrarModal()"> aplicacion</button>
      <div class="modal-is-open animation fade-in" *ngIf="modalServices.modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content text-center">
                <div class="modal-header text-center">

                  <h5 class="modal-title align-items-center">aplicaciones</h5>
                  <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body" class="text-center">
                  <label>aplicacion donde se mostrara</label>
                  <select (change)="cambio($event)" class="form-select" [(ngModel)]="selectedAplicacion" aria-label="Default select example"
                    required>
                    <option selected disabled>aplicacion donde se desplegara</option>
                    <option *ngFor="let item of lstAplicaciones" [value]="item.aplicacion">{{item.aplicacion}}</option>
                  </select>
                  <form *ngIf="selectedAplicacion!=''">
                    <div *ngFor="let item of lstSecciones">
                      <input type="checkbox" [checked]="item.id"> {{item.seccion}}
                    </div>
                  </form>
                  <div class="content-center">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          <!-- <form formGroup="form" (ngSubmit)="submitForm()" novalidate></form> -->

                          <br>
                          <div class="container">

                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <!-- <input type="checkbox" [(ngModel)]="esPublicar"> -->
                    <br>


                    <!-- <input (click)="resetDate()" class="form-control" type="date" id="textInput2" [(ngModel)]="selectedDate"
                    [disabled]="esPublicar==false"> -->
                  </div>
                  <br>
                  <div class="content-center">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success btn text-left" data-dismiss="modal">
                              guardar</button>


                          </div>

                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr class="text-center headerTabla tabla-text">
              <th scope="col">aplicacion</th>
              <th scope="col">areas</th>
              <th scope="col">eliminar</th>

            </tr>
          </thead>
        </table>
      </div>

    </form>
  </div>
</div>


<br>
