<!-- <div class="mcb-background-overlay"> -->
<!-- <div > -->
<div class="componente-con-fondo"></div>
<h1 class="fs-1 fst-italic">CREAR</h1>
<br><br>

<!-- <div class="mb-3"> -->
<!-- <div class="componente-con-fondo"></div> -->
<!-- <div class="row justify-content-center"> -->
<div class="container-fluid"></div>
<div class="row">
  <div class="col">
    <!-- <form #miForm="ngForm"> -->

      <label for="titulo" class="form-label fw-bold">Título</label>
      <input type="text" class="form-control" id="titulo" placeholder="ingrese el titulo"
        [(ngModel)]="titulo" name="titulo" required>

      <label for="exampleFormControlTextarea1" class="form-label" class="fw-bold">contenido</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="contenido" rows="3" required></textarea>
      </div>
      </div>


      <div class="container-fluid"></div>
      <div class="row">
        <div class="col">
      <label for="formFile" class="form-label" class="fw-bold">agregar una imagen</label>
      <form (ngSubmit)="guardarImagen()"   enctype="multipart/form-data">
      <input type="file" name="imagen" [(ngModel)]="img" (change)="seleccionarImagen($event)" class="form-control" type="file" id="formFile" accept="image/jpeg, image/jpg, image/png">
        </form>
    </div>
      </div>

      <div class="container-fluid"></div>
      <div class="row">
        <div class="col">
      <p class="fw-bold">Tipo</p>

      <div class="form-check" required>

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="rdbAviso">
        <label class="form-check-label" for="flexRadioDefault1">
          aviso
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="rdbMensaje">
        <label class="form-check-label" for="flexRadioDefault2">
          mensaje
        </label>
      </div>
        </div>
      </div>
      <div class="container-fluid"></div>
      <div class="row">
        <div class="col">
      <button (click)="mostrarModal()"> aplicacion</button>

      <div class="modal-is-open animation fade-in" *ngIf="modalServices.modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content text-center">
                <div class="modal-header text-center">

                  <h5 class="modal-title align-items-center">aplicaciones</h5>
                  <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body" style="align-items: center;">
                  <label>aplicacion donde se mostrara</label>
                  <select (change)="cambio($event)" class="form-select" [(ngModel)]="selectedAplicacion"
                    name="selectedAplicacion" aria-label="Default select example"  required>
                    <option selected disabled>aplicacion donde se desplegara</option>
                    <option *ngFor="let item of catalagoAplicaciones" [(ngModel)]="aplicacion" [value]="item.id">{{item.aplicacion}}
                    </option>

                  </select>

                  <form *ngIf="selectedAplicacion!=''">
                    <div *ngFor="let item of lstSecciones">
                      <input type="checkbox" [(ngModel)]="item.activo" name="checkbox"> {{item.seccion}}
                    </div>
                  </form>

                  <div class="content-center">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          <!-- <form formGroup="form" (ngSubmit)="submitForm()" novalidate></form> -->

                          <br>
                          <div class="container">

                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <!-- <input type="checkbox" [(ngModel)]="esPublicar"> -->
                    <br>


                    <!-- <input (click)="resetDate()" class="form-control" type="date" id="textInput2" [(ngModel)]="selectedDate"
                    [disabled]="esPublicar==false"> -->
                  </div>
                  <br>
                  <div class="content-center">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success btn text-left" (click)="guardarSeccion()">
                              guardar</button>


                          </div>

                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>

      <div class="container" style="padding: 1rem;">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr class="text-center headerTabla tabla-text">
              <th scope="col">aplicacion</th>
              <th scope="col">seccione</th>
              <th scope="col">eliminar</th>
            </tr>
          </thead>
          <tbody class="text-center">

            <tr *ngFor="let apps of lstAplicaciones">
              <td>{{apps.aplicacion}}</td>
              <td>{{apps.seccion.seccion}}</td>

              <td><button (click)="eliminarRegistro(1)" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button></td>
              <!-- <div class="d-flex justify-content-end">
                <button *ngIf="!publicacion.estado" (click)="mostrarModal()" class="btn btn-secondary"><i
                    class="bi bi-share" style="margin:10px"></i></button>

                <button type="button" class="btn btn-success" (click)="editar()"><i class="bi bi-pencil-square"
                    style="margin:10px"></i> </button>
                <button (click)="eliminar()" class="btn btn-danger"><i class="bi bi-trash-fill"
                    style="margin:10px"></i></button>
              </div> -->
            </tr>

          </tbody>

        </table>
      </div>
      <div class="container-fluid"></div>
      <div class="row">
        <div class="col">
      <p class="fw-bold">zonas</p>
      <select name="zonas" style="margin-left: 10px;" [(ngModel)]="zona1">
        <option value="disabled" disabled [selected]="true">seleccionar zona</option>
        <option *ngFor="let item of catalagoZonas" [(ngModel)]="zona" [value]="item.zona" >{{item.zona}}
      </option>
    </select>

    <br>
    <br>

</div>
      </div>
      <div class="container-fluid"></div>
      <div class="row">
        <div class="col">

 <button class="btn btn-success" (click)=" guardarRegistro()">Guardar</button>
    <button class="btn btn-danger" (click)="salir()">Cancelar</button>
        </div>
      </div>





