button{
border: none;
padding: 1.5em;
width: 300px;
border-radius: 10px;
cursor: pointer;
color: black;
font-weight: bold;
font-size: 1em;
margin-bottom: 1.5em;
}

.boton.primer_modal {
  background: linear-gradient(rgb(17, 180, 52), rgb(42, 100, 54));

}
.boton.eliminar{
  background: linear-gradient(rgb(180, 41, 17), rgb(100, 49, 42));
}
.modal-is-open {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.animation {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.fade-in {
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
/* .publicar{

}
.modal-is-open {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.animation {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.fade-in {
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
} */
