<div class="container">
  <div class="row">
    <div class="col-sm">

<button (click)="showModal()">hay campos vacios</button>
<br>
<br>

<button class="boton primer_modal" (click)="publicar()">publicar</button>
<br>
<br>
<button (click)="mostrarModal()">abrir Modal</button>
<br>
<br>

<button class="boton eliminar" (click)="eliminar()">eliminar</button>
<br>
<br>
<div class="modal-is-open animation fade-in" *ngIf="modalServices.modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h5 class="modal-title align-items-center text-center"> confirmacion</h5>
          </div>

          <div class="modal-body" class="text-center">
            <label for="textInput1">¿desea publicar el contenido?</label>
              <br>
            <input type="checkbox" id="textInput1" [(ngModel)]="input1Value">
            <br>

            <label for="textInput2">fecha de cierre</label>
            <br>

            <input class="form-control" type="date" id="textInput2" [(ngModel)]="input2Value">
            <br>
            <div class="content-center">
              <!-- <label for="selectBox" class="align-items-center">Selecciona una opción:</label>
              <br>
              <select id="selectBox" [(ngModel)]="selectedOption">
                <option value="opcion1">Opción 1</option>
                <option value="opcion2">Opción 2</option>
                <option value="opcion3">Opción 3</option>
                <br>
              </select> -->
              <div class="container">
                <div class="row">
                  <div class="col-sm">

                  </div>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success btn text-left" data-dismiss="modal" (click)="cancel()">Save
                changes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>


