
<div class="componente-con-fondo">
<h1 style="text-align: center;">BIENVENIDO</h1>
<div class="mover-a-derecha">
<button class="btn btn-link">cerrar sesion  <i class="bi bi-box-arrow-right"></i></button>
</div>
<div >
<br><br>

<h2>zonas</h2>
<div class="mover-a-derecha">
  <button (click)="irAcrear()" class="btn btn-success"><i class="bi bi-file-earmark-plus"></i> Nueva publicacion</button>
</div>
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">

  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-success" for="btnradio1">Noroeste</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-success" for="btnradio2">Sureste</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-success" for="btnradio3">Bajio</label>
</div>

</div>
<br>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="prueba1" id="prueba1" autocomplete="off">
  <label class="btn btn-outline-dark" for="prueba1">Mensajes</label>

  <input type="radio" class="btn-check" name="prueba1" id="prueba2" autocomplete="off">
  <label class="btn btn-outline-dark" for="prueba2">Avisos</label>


</div>
<br>
<div class="text-center centrar-verticalmente">
<table class="table table-striped table-hover">
   <thead >
    <tr>
      <th scope="col">ver</th>
      <th scope="col">notificacion</th>
      <th scope="col">fecha de publicacion</th>
      <th scope="col">fecha de vencimiento</th>
      <th scope="col">estado</th>
      <th scope="col">acciones</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let publicacion of lstPublicaciones">
      <button class="btn btn-dark"><i class="bi bi-eye-fill"></i> </button>
      <td>{{publicacion.notificacion}}</td>
       <td>{{publicacion.publicacion}}</td>
       <td>{{publicacion.cierre}}</td>
      <td>{{publicacion.estado}}</td>





      <button (click)="editar()" class="btn btn-success" ><i class="bi bi-pencil-square"></i> </button>
      <button (click)="eliminar()" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
      <button class="btn btn-secondary"><i class="bi bi-share"></i></button>

    </tr>

  </tbody>
</table>
<br>
</div>
</div>

<!-- <nav aria-label="...">
  <ul class="pagination pagination-lg">

    <li class="page-item"><a class="page-link" href="#">avisos</a></li>
    <li class="page-item"><a class="page-link" href="#">mensajes</a></li>
  </ul>
</nav> -->
