<!-- <div class="scroll-container"> -->
<div class="componente-con-fondo"></div>

<h1 style="text-align: center;">BIENVENIDO</h1>
<div class="mover-a-derecha">


  <button class="btn btn-light" routerLink="/login" (click)="cerrar()">cerrar sesion <i
      class="bi bi-box-arrow-right"></i></button>
</div>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-4 text-start" style="background-color: red;">123</div>
    <div class="col-4 text-end" style="background-color: blue;">1233</div>
    <div class="col-4 text-start" style="background-color: aqua;">123</div>
  </div>

  <h2>zonas</h2>
  <div class="d-flex justify-content-end">
    <button (click)="irAcrear()" class="btn btn-success"><i class="bi bi-file-earmark-plus"></i> Nueva
      publicacion</button>
  </div>

  <div class="row">
    <div class="col-4">

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-success" for="btnradio1">Noroeste</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-success" for="btnradio2">Sureste</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-success" for="btnradio3">Bajio</label>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="prueba1" id="prueba1" autocomplete="off">
      <label class="btn btn-outline-dark" for="prueba1">Mensajes</label>

      <input type="radio" class="btn-check" name="prueba1" id="prueba2" autocomplete="off">
      <label class="btn btn-outline-dark" for="prueba2">Avisos</label>
    </div>
  </div>

</div>
<br>
<div class="container">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr class="text-center headerTabla tabla-text">
        <th scope="col">ver</th>
        <th scope="col">notificacion</th>
        <th scope="col">fecha de publicacion</th>
        <th scope="col">fecha de vencimiento</th>
        <th scope="col">estado</th>
        <th scope="col">acciones</th>
      </tr>
    </thead>
    <tbody class="text-center">

      <tr *ngFor="let publicacion of lstPublicaciones">

        <td><button (click)="ver()" type="button" class="btn btn-dark"><i class="bi bi-eye-fill"
              style="margin:10px"></i></button>
        </td>
        <td>{{publicacion.notificacion}}</td>
        <td>{{publicacion.publicacion}}</td>
        <td>{{publicacion.cierre}}</td>
        <td>{{publicacion.estado}}</td>




        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-success" (click)="editar()"><i class="bi bi-pencil-square"
              style="margin:10px"></i> </button>
          <button (click)="eliminar()" class="btn btn-danger"><i class="bi bi-trash-fill"
              style="margin:10px"></i></button>
          <button (click)="mostrarModal()" class="btn btn-secondary"><i class="bi bi-share" style="margin:10px"
              ></i></button>





        </div>


      </tr>

    </tbody>

  </table>
</div>
<div class="modal-is-open animation fade-in" *ngIf="modalServices.modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
          <div class="modal-header text-center">
            <h5 class="modal-title align-items-center">confirmacion</h5>
          </div>

          <div class="modal-body" class="text-center">
            <label>¿desea publicar el contenido?</label>
            <br>
            <input (click)="publicar()" type="checkbox" [(ngModel)]="esPublicar">
            <br>

            <label for="textInput2">fecha de cierre</label>
            <br>
            <div class="container">
              <input (click)="resetDate()" class="form-control" type="date" id="textInput2" [(ngModel)]="selectedDate" [disabled]="esPublicar==false">
            </div>
            <br>
            <div class="content-center">
              <div class="container">
                <div class="row">
                  <div class="col-sm">

                  </div>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success btn text-left" data-dismiss="modal" (click)="cancel()">
                publicar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!-- </div> -->
